In [1]:
import numpy as np
import pandas as pd

In [2]:
df = pd.read_csv('diemthi2020.csv', index_col=0)
df.head()

,Dia,GDCD,Hoa,Li,Ma_mon_ngoai_ngu,Ngoai_ngu,Sinh,Su,Toan,Van,sbd
0,7.00,6.50,NaN,NaN,N1,4.2,NaN,4.75,6.4,6.75,18014547
1,7.75,7.75,NaN,NaN,N1,2.8,NaN,3.75,7.6,6.00,18014530
2,6.50,NaN,NaN,NaN,NaN,NaN,NaN,4.00,4.8,4.75,18014521
3,8.00,9.50,NaN,NaN,N1,5.8,NaN,8.25,8.0,7.00,18014517
4,NaN,NaN,8.5,8.0,N1,4.0,5.0,NaN,8.2,6.50,18014523

In [3]:
df = df.drop(['Ma_mon_ngoai_ngu'], axis=1)

In [4]:
ma_tinh={1:'HÀ NỘI',        2:'HỒ CHÍ MINH',    3:'HẢI PHÒNG',          4:'ĐÀ NẴNG',        5:'HÀ GIANG',       6:'CAO BẰNG',   7:'LAI CHÂU',   8:'LÀO CAI',
         9:'TUYÊN QUANG',   10:'LẠNG SƠN',      11:'BẮC KẠN',           12:'THÁI NGUYÊN',   13:'YÊN BÁI',       14:'SƠN LA',    15:'PHÚ THỌ',   16:'VĨNH PHÚC',
         17:'QUẢNG NINH',   18:'BẮC GIANG',     19:'BẮC NINH',          21:'HẢI DƯƠNG',     22:'HƯNG YÊN',      23:'HÒA BÌNH',  24:'HÀ NAM',    25:'NAM ĐỊNH',
         26:'THÁI BÌNH',    27:'NINH BÌNH',     28:'THANH HÓA',         29:'NGHỆ AN',       30:'HÀ TĨNH',       31:'QUẢNG BÌNH',32:'QUẢNG TRỊ', 33:'THỪA THIÊN - HUẾ',
         34:'QUẢNG NAM',    35:'QUẢNG NGÃI',    36:'KON TUM',           37:'BÌNH ĐỊNH',     38:'GIA LAI',       39:'PHÚ YÊN',   40:'ĐẮK LẮK',   41:'KHÁNH HÒA',
         42:'LÂM ĐỒNG',     43:'BÌNH PHƯỚC',    44:'BÌNH DƯƠNG',        45:'NINH THUẬN',    46:'TÂY NINH',      47:'BÌNH THUẬN',48:'ĐỒNG NAI',  49:'LONG AN',
         50:'ĐỒNG THÁP',    51:'AN GIANG' ,     52:'BÀ RỊA – VŨNG TÀU', 53:'TIỀN GIANG',    54:'KIÊN GIANG',    55:'CẦN THƠ',   56:'BẾN TRE',   57:'VĨNH LONG',
         58:'TRÀ VINH',     59:'SÓC TRĂNG',     60:'BẠC LIÊU',          61:'CÀ MAU',        62:'ĐIỆN BIÊN',     63:'ĐĂK NÔNG',  64:'HẬU GIANG'}

In [5]:
df['Tỉnh/Thành phố'] = df['sbd'].apply(lambda x: x//1000000)
df['Tỉnh/Thành phố'] = df['Tỉnh/Thành phố'].map(ma_tinh)

In [6]:
df['sbd'] = df['sbd'].astype(str)

In [7]:
df['TB-KHTN'] = df[['Li', 'Hoa', 'Sinh']].mean(axis=1).round(2)

In [8]:
df['TB-KHXH'] = df[['Su', 'Dia', 'GDCD']].mean(axis=1).round(2)

In [9]:
df.rename(columns={'sbd':'SBD', 'Toan':'Toán',  'Van':'Văn',
                   'Li':'Lí',   'Hoa':'Hóa',
                   'Su':'Sử',   'Dia':'Địa',
                   'Ngoai_ngu':'Ngoại ngữ'}, inplace = True)

In [10]:
df = df[['SBD', 'Tỉnh/Thành phố',   'Toán', 'Văn',
         'Lí',  'Hóa',              'Sinh', 'TB-KHTN',
         'Sử',  'Địa',              'GDCD', 'TB-KHXH',
         'Ngoại ngữ']]
df.head()

,SBD,Tỉnh/Thành phố,Toán,Văn,Lí,Hóa,Sinh,TB-KHTN,Sử,Địa,GDCD,TB-KHXH,Ngoại ngữ
0,18014547,BẮC GIANG,6.4,6.75,NaN,NaN,NaN,NaN,4.75,7.00,6.50,6.08,4.2
1,18014530,BẮC GIANG,7.6,6.00,NaN,NaN,NaN,NaN,3.75,7.75,7.75,6.42,2.8
2,18014521,BẮC GIANG,4.8,4.75,NaN,NaN,NaN,NaN,4.00,6.50,NaN,5.25,NaN
3,18014517,BẮC GIANG,8.0,7.00,NaN,NaN,NaN,NaN,8.25,8.00,9.50,8.58,5.8
4,18014523,BẮC GIANG,8.2,6.50,8.0,8.5,5.0,7.17,NaN,NaN,NaN,NaN,4.0

In [11]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 870486 entries, 0 to 870485
Data columns (total 13 columns):
 #   Column          Non-Null Count   Dtype
---  ------          --------------   -----
 0   SBD             870486 non-null  object
 1   Tỉnh/Thành phố  870486 non-null  object
 2   Toán            866581 non-null  float64
 3   Văn             856565 non-null  float64
 4   Lí              293287 non-null  float64
 5   Hóa             295536 non-null  float64
 6   Sinh            290377 non-null  float64
 7   TB-KHTN         297576 non-null  float64
 8   Sử              568581 non-null  float64
 9   Địa             555072 non-null  float64
 10  GDCD            482980 non-null  float64
 11  TB-KHXH         568807 non-null  float64
 12  Ngoại ngữ       772098 non-null  float64
dtypes: float64(11), object(2)
memory usage: 93.0+ MB

In [12]:
df.to_csv('diemthi2020_final.csv', encoding='utf-8-sig')