# Điểm Thi 2022

In [21]:
import numpy as np
import pandas as pd

In [22]:
df=pd.read_csv('diemthi2021.csv')

In [23]:
df

,Unnamed: 0,id,year,mathematics_score,literature_score,physics_score,chemistry_score,biology_score,foreign_language_score,foreign_language_type,english_score,history_score,geography_score,civic_education_score,chinese_score,japanese_score,korean_score,french_score,german_score,russian_score
0,80,1000001,2022,3.6,5.00,NaN,NaN,NaN,4.0,N1,4.0,2.75,6.00,8.75,NaN,NaN,NaN,NaN,NaN,NaN
1,68,1000002,2022,8.4,6.75,NaN,NaN,NaN,7.6,N1,7.6,8.50,7.50,8.25,NaN,NaN,NaN,NaN,NaN,NaN
2,77,1000003,2022,5.8,7.50,NaN,NaN,NaN,5.0,N1,5.0,7.25,5.50,8.75,NaN,NaN,NaN,NaN,NaN,NaN
3,42,1000004,2022,7.4,7.50,NaN,NaN,NaN,8.6,N1,8.6,7.50,6.50,7.50,NaN,NaN,NaN,NaN,NaN,NaN
4,41,1000005,2022,7.2,8.50,NaN,NaN,NaN,9.0,N1,9.0,8.00,8.50,8.25,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995376,995377,64006584,2022,8.4,6.75,NaN,NaN,NaN,4.6,N1,4.6,6.50,6.75,9.00,NaN,NaN,NaN,NaN,NaN,NaN
995377,995346,64006585,2022,5.6,6.50,NaN,NaN,NaN,2.8,N1,2.8,6.25,6.75,8.50,NaN,NaN,NaN,NaN,NaN,NaN
995378,995370,64006586,2022,5.8,6.00,NaN,NaN,NaN,6.6,N1,6.6,7.25,8.00,8.00,NaN,NaN,NaN,NaN,NaN,NaN
995379,995339,64006587,2022,7.6,6.75,NaN,NaN,NaN,7.0,N1,7.0,8.75,7.25,9.75,NaN,NaN,NaN,NaN,NaN,NaN
995380,995374,64006588,2022,6.6,4.50,NaN,NaN,NaN,3.2,N1,3.2,3.00,6.00,7.50,NaN,NaN,NaN,NaN,NaN,NaN

## Đưa dữ liệu về một form chung

**Chọn ra các cột cần thiết theo form chung**

In [24]:
df=df[['id','mathematics_score', 'literature_score', 'foreign_language_score', 'physics_score', 'chemistry_score', 'biology_score', 'history_score', 'geography_score', 'civic_education_score']]

**Đổi tên các thuộc tính**

In [25]:
df.rename(columns = {'id':'SBD','mathematics_score':'Toán','literature_score':'Văn','foreign_language_score':'Ngoại ngữ', 'physics_score':'Lí','chemistry_score':'Hóa', 'biology_score':'Sinh', 'history_score':'Sử', 'geography_score':'Địa','civic_education_score':'GDCD'}, inplace = True)

C:\Users\t480\AppData\Local\Temp\ipykernel_12196\964120055.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.rename(columns = {'id':'SBD','mathematics_score':'Toán','literature_score':'Văn','foreign_language_score':'Ngoại ngữ', 'physics_score':'Lí','chemistry_score':'Hóa', 'biology_score':'Sinh', 'history_score':'Sử', 'geography_score':'Địa','civic_education_score':'GDCD'}, inplace = True)

In [26]:
df

             SBD  Toán   Văn  Ngoại ngữ  Lí  Hóa  Sinh    Sử   Địa  GDCD
0        1000001   3.6  5.00        4.0 NaN  NaN   NaN  2.75  6.00  8.75
1        1000002   8.4  6.75        7.6 NaN  NaN   NaN  8.50  7.50  8.25
2        1000003   5.8  7.50        5.0 NaN  NaN   NaN  7.25  5.50  8.75
3        1000004   7.4  7.50        8.6 NaN  NaN   NaN  7.50  6.50  7.50
4        1000005   7.2  8.50        9.0 NaN  NaN   NaN  8.00  8.50  8.25
...          ...   ...   ...        ...  ..  ...   ...   ...   ...   ...
995376  64006584   8.4  6.75        4.6 NaN  NaN   NaN  6.50  6.75  9.00
995377  64006585   5.6  6.50        2.8 NaN  NaN   NaN  6.25  6.75  8.50
995378  64006586   5.8  6.00        6.6 NaN  NaN   NaN  7.25  8.00  8.00
995379  64006587   7.6  6.75        7.0 NaN  NaN   NaN  8.75  7.25  9.75
995380  64006588   6.6  4.50        3.2 NaN  NaN   NaN  3.00  6.00  7.50

[995381 rows x 10 columns]

**Thêm cột 'Tỉnh/Thành phố'**

In [27]:
#Chuyển dữ liệu cột 'SBD' từ dạng int về dạng object
df['SBD']=df['SBD'].astype(str)

C:\Users\t480\AppData\Local\Temp\ipykernel_12196\3183886300.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['SBD']=df['SBD'].astype(str)

In [28]:
Ma_Tinh = {'1':'HÀ NỘI','2':'HỒ CHÍ MINH','3':'HẢI PHÒNG','4':'ĐÀ NẴNG','5':'HÀ GIANG','6':'CAO BẰNG','7':'LAI CHÂU','8':'LÀO CAI','9':'TUYÊN QUANG',
          '10':'LẠNG SƠN','11':'BẮC KẠN','12':'THÁI NGUYÊN','13':'YÊN BÁI','14':'SƠN LA','15':'PHÚ THỌ','16':'VĨNH PHÚC','17':'QUẢNG NINH','18':'BẮC GIANG','19':'BẮC NINH',
          '21':'HẢI DƯƠNG','22':'HƯNG YÊN','23':'HÒA BÌNH','24':'HÀ NAM','25':'NAM ĐỊNH','26':'THÁI BÌNH','27':'NINH BÌNH','28':'THANH HÓA','29':'NGHỆ AN','30':'HÀ TĨNH',
          '31' :'QUẢNG BÌNH','32':'QUẢNG TRỊ','33':'THỪA THIÊN - HUẾ','34':'QUẢNG NAM','35':'QUẢNG NGÃI','36':'KON TUM','37':'BÌNH ĐỊNH','38':'GIA LAI','39':'PHÚ YÊN','40':'ĐẮK LẮK',
          '41' :'KHÁNH HÒA','42':'LÂM ĐỒNG','43':'BÌNH PHƯỚC','44':'BÌNH DƯƠNG','45':'NINH THUẬN','46':'TÂY NINH','47':'BÌNH THUẬN','48':'ĐỒNG NAI','49':'LONG AN','50': 'ĐỒNG THÁP',
          '51': 'AN GIANG' ,'52': 'BÀ RỊA – VŨNG TÀU','53': 'TIỀN GIANG','54': 'KIÊN GIANG','55': 'CẦN THƠ','56': 'BẾN TRE','57': 'VĨNH LONG','58': 'TRÀ VINH','59': 'SÓC TRĂNG','60': 'BẠC LIÊU',
          '61': 'CÀ MAU','62': 'ĐIỆN BIÊN','63': 'ĐĂK NÔNG','64': 'HẬU GIANG'}

In [29]:
#Lấy mã tỉnh/thành phố và chuyển về tên tỉnh/thành phố tương ứng
df['Tỉnh/Thành phố'] = df['SBD'].apply(lambda x: x[:-6])
df['Tỉnh/Thành phố']=df['Tỉnh/Thành phố'].map(Ma_Tinh)

C:\Users\t480\AppData\Local\Temp\ipykernel_12196\1710576570.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Tỉnh/Thành phố'] = df['SBD'].apply(lambda x: x[:-6])
C:\Users\t480\AppData\Local\Temp\ipykernel_12196\1710576570.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Tỉnh/Thành phố']=df['Tỉnh/Thành phố'].map(Ma_Tinh)

In [30]:
df

,SBD,Toán,Văn,Ngoại ngữ,Lí,Hóa,Sinh,Sử,Địa,GDCD,Tỉnh/Thành phố
0,1000001,3.6,5.00,4.0,NaN,NaN,NaN,2.75,6.00,8.75,HÀ NỘI
1,1000002,8.4,6.75,7.6,NaN,NaN,NaN,8.50,7.50,8.25,HÀ NỘI
2,1000003,5.8,7.50,5.0,NaN,NaN,NaN,7.25,5.50,8.75,HÀ NỘI
3,1000004,7.4,7.50,8.6,NaN,NaN,NaN,7.50,6.50,7.50,HÀ NỘI
4,1000005,7.2,8.50,9.0,NaN,NaN,NaN,8.00,8.50,8.25,HÀ NỘI
...,...,...,...,...,...,...,...,...,...,...,...
995376,64006584,8.4,6.75,4.6,NaN,NaN,NaN,6.50,6.75,9.00,HẬU GIANG
995377,64006585,5.6,6.50,2.8,NaN,NaN,NaN,6.25,6.75,8.50,HẬU GIANG
995378,64006586,5.8,6.00,6.6,NaN,NaN,NaN,7.25,8.00,8.00,HẬU GIANG
995379,64006587,7.6,6.75,7.0,NaN,NaN,NaN,8.75,7.25,9.75,HẬU GIANG
995380,64006588,6.6,4.50,3.2,NaN,NaN,NaN,3.00,6.00,7.50,HẬU GIANG

**Thêm cột 'TB-KHTN'**

In [31]:
df['TB-KHTN']=round((df['Lí']+df['Hóa']+df['Sinh'])/3,2)

C:\Users\t480\AppData\Local\Temp\ipykernel_12196\531576495.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['TB-KHTN']=round((df['Lí']+df['Hóa']+df['Sinh'])/3,2)

**Thêm cột 'TB-KHXH'**

In [32]:
df['TB-KHXH']=round((df['Sử']+df['Địa']+df['GDCD'])/3,2)

C:\Users\t480\AppData\Local\Temp\ipykernel_12196\2112155566.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['TB-KHXH']=round((df['Sử']+df['Địa']+df['GDCD'])/3,2)

In [33]:
df

,SBD,Toán,Văn,Ngoại ngữ,Lí,Hóa,Sinh,Sử,Địa,GDCD,Tỉnh/Thành phố,TB-KHTN,TB-KHXH
0,1000001,3.6,5.00,4.0,NaN,NaN,NaN,2.75,6.00,8.75,HÀ NỘI,NaN,5.83
1,1000002,8.4,6.75,7.6,NaN,NaN,NaN,8.50,7.50,8.25,HÀ NỘI,NaN,8.08
2,1000003,5.8,7.50,5.0,NaN,NaN,NaN,7.25,5.50,8.75,HÀ NỘI,NaN,7.17
3,1000004,7.4,7.50,8.6,NaN,NaN,NaN,7.50,6.50,7.50,HÀ NỘI,NaN,7.17
4,1000005,7.2,8.50,9.0,NaN,NaN,NaN,8.00,8.50,8.25,HÀ NỘI,NaN,8.25
...,...,...,...,...,...,...,...,...,...,...,...,...,...
995376,64006584,8.4,6.75,4.6,NaN,NaN,NaN,6.50,6.75,9.00,HẬU GIANG,NaN,7.42
995377,64006585,5.6,6.50,2.8,NaN,NaN,NaN,6.25,6.75,8.50,HẬU GIANG,NaN,7.17
995378,64006586,5.8,6.00,6.6,NaN,NaN,NaN,7.25,8.00,8.00,HẬU GIANG,NaN,7.75
995379,64006587,7.6,6.75,7.0,NaN,NaN,NaN,8.75,7.25,9.75,HẬU GIANG,NaN,8.58
995380,64006588,6.6,4.50,3.2,NaN,NaN,NaN,3.00,6.00,7.50,HẬU GIANG,NaN,5.50

In [34]:
df

,SBD,Toán,Văn,Ngoại ngữ,Lí,Hóa,Sinh,Sử,Địa,GDCD,Tỉnh/Thành phố,TB-KHTN,TB-KHXH
0,1000001,3.6,5.00,4.0,NaN,NaN,NaN,2.75,6.00,8.75,HÀ NỘI,NaN,5.83
1,1000002,8.4,6.75,7.6,NaN,NaN,NaN,8.50,7.50,8.25,HÀ NỘI,NaN,8.08
2,1000003,5.8,7.50,5.0,NaN,NaN,NaN,7.25,5.50,8.75,HÀ NỘI,NaN,7.17
3,1000004,7.4,7.50,8.6,NaN,NaN,NaN,7.50,6.50,7.50,HÀ NỘI,NaN,7.17
4,1000005,7.2,8.50,9.0,NaN,NaN,NaN,8.00,8.50,8.25,HÀ NỘI,NaN,8.25
...,...,...,...,...,...,...,...,...,...,...,...,...,...
995376,64006584,8.4,6.75,4.6,NaN,NaN,NaN,6.50,6.75,9.00,HẬU GIANG,NaN,7.42
995377,64006585,5.6,6.50,2.8,NaN,NaN,NaN,6.25,6.75,8.50,HẬU GIANG,NaN,7.17
995378,64006586,5.8,6.00,6.6,NaN,NaN,NaN,7.25,8.00,8.00,HẬU GIANG,NaN,7.75
995379,64006587,7.6,6.75,7.0,NaN,NaN,NaN,8.75,7.25,9.75,HẬU GIANG,NaN,8.58
995380,64006588,6.6,4.50,3.2,NaN,NaN,NaN,3.00,6.00,7.50,HẬU GIANG,NaN,5.50

**Lưu vào file csv**

In [35]:
from pathlib import Path  
filepath = Path('diemthi2021_final.csv')  
filepath.parent.mkdir(parents=True, exist_ok=True)  
df.to_csv(filepath,encoding='utf-8-sig')