# Điểm Thi 2022

In [1]:
import numpy as np
import pandas as pd

In [2]:
df=pd.read_csv('diemthi2022.csv')

In [3]:
df

,sbd,toan,ngu_van,ngoai_ngu,vat_li,hoa_hoc,sinh_hoc,lich_su,dia_li,gdcd
0,1000001,3.6,5.00,4.0,NaN,NaN,NaN,2.75,6.00,8.75
1,1000002,8.4,6.75,7.6,NaN,NaN,NaN,8.50,7.50,8.25
2,1000003,5.8,7.50,5.0,NaN,NaN,NaN,7.25,5.50,8.75
3,1000004,7.4,7.50,8.6,NaN,NaN,NaN,7.50,6.50,7.50
4,1000005,7.2,8.50,9.0,NaN,NaN,NaN,8.00,8.50,8.25
...,...,...,...,...,...,...,...,...,...,...
995436,64006584,8.4,6.75,4.6,NaN,NaN,NaN,6.50,6.75,9.00
995437,64006585,5.6,6.50,2.8,NaN,NaN,NaN,6.25,6.75,8.50
995438,64006586,5.8,6.00,6.6,NaN,NaN,NaN,7.25,8.00,8.00
995439,64006587,7.6,6.75,7.0,NaN,NaN,NaN,8.75,7.25,9.75
995440,64006588,6.6,4.50,3.2,NaN,NaN,NaN,3.00,6.00,7.50

## Đưa dữ liệu về một form chung

**Đổi tên các thuộc tính**

In [4]:
df.rename(columns = {'sbd':'SBD','toan':'Toán','ngu_van':'Văn','ngoai_ngu':'Ngoại ngữ', 'vat_li':'Lí','hoa_hoc':'Hóa', 'sinh_hoc':'Sinh', 'lich_su':'Sử', 'dia_li':'Địa','gdcd':'GDCD'}, inplace = True)

In [5]:
df

             SBD  Toán   Văn  Ngoại ngữ  Lí  Hóa  Sinh    Sử   Địa  GDCD
0        1000001   3.6  5.00        4.0 NaN  NaN   NaN  2.75  6.00  8.75
1        1000002   8.4  6.75        7.6 NaN  NaN   NaN  8.50  7.50  8.25
2        1000003   5.8  7.50        5.0 NaN  NaN   NaN  7.25  5.50  8.75
3        1000004   7.4  7.50        8.6 NaN  NaN   NaN  7.50  6.50  7.50
4        1000005   7.2  8.50        9.0 NaN  NaN   NaN  8.00  8.50  8.25
...          ...   ...   ...        ...  ..  ...   ...   ...   ...   ...
995436  64006584   8.4  6.75        4.6 NaN  NaN   NaN  6.50  6.75  9.00
995437  64006585   5.6  6.50        2.8 NaN  NaN   NaN  6.25  6.75  8.50
995438  64006586   5.8  6.00        6.6 NaN  NaN   NaN  7.25  8.00  8.00
995439  64006587   7.6  6.75        7.0 NaN  NaN   NaN  8.75  7.25  9.75
995440  64006588   6.6  4.50        3.2 NaN  NaN   NaN  3.00  6.00  7.50

[995441 rows x 10 columns]

**Thêm cột 'Tỉnh/Thành phố'**

In [6]:
#Chuyển dữ liệu cột 'SBD' từ dạng int về dạng object
df['SBD']=df['SBD'].astype(str)

In [7]:
Ma_Ten = {'1':'HÀ NỘI','2':'HỒ CHÍ MINH','3':'HẢI PHÒNG','4':'ĐÀ NẴNG','5':'HÀ GIANG','6':'CAO BẰNG','7':'LAI CHÂU','8':'LÀO CAI','9':'TUYÊN QUANG',
          '10':'LẠNG SƠN','11':'BẮC KẠN','12':'THÁI NGUYÊN','13':'YÊN BÁI','14':'SƠN LA','15':'PHÚ THỌ','16':'VĨNH PHÚC','17':'QUẢNG NINH','18':'BẮC GIANG','19':'BẮC NINH',
          '21':'HẢI DƯƠNG','22':'HƯNG YÊN','23':'HÒA BÌNH','24':'HÀ NAM','25':'NAM ĐỊNH','26':'THÁI BÌNH','27':'NINH BÌNH','28':'THANH HÓA','29':'NGHỆ AN','30':'HÀ TĨNH',
          '31' :'QUẢNG BÌNH','32':'QUẢNG TRỊ','33':'THỪA THIÊN - HUẾ','34':'QUẢNG NAM','35':'QUẢNG NGÃI','36':'KON TUM','37':'BÌNH ĐỊNH','38':'GIA LAI','39':'PHÚ YÊN','40':'ĐẮK LẮK',
          '41' :'KHÁNH HÒA','42':'LÂM ĐỒNG','43':'BÌNH PHƯỚC','44':'BÌNH DƯƠNG','45':'NINH THUẬN','46':'TÂY NINH','47':'BÌNH THUẬN','48':'ĐỒNG NAI','49':'LONG AN','50': 'ĐỒNG THÁP',
          '51': 'AN GIANG' ,'52': 'BÀ RỊA – VŨNG TÀU','53': 'TIỀN GIANG','54': 'KIÊN GIANG','55': 'CẦN THƠ','56': 'BẾN TRE','57': 'VĨNH LONG','58': 'TRÀ VINH','59': 'SÓC TRĂNG','60': 'BẠC LIÊU',
          '61': 'CÀ MAU','62': 'ĐIỆN BIÊN','63': 'ĐĂK NÔNG','64': 'HẬU GIANG'}

In [8]:
#Lấy mã tỉnh/thành phố và chuyển về tên tỉnh/thành phố tương ứng
df['Tỉnh/Thành phố'] = df['SBD'].apply(lambda x: x[:-6])
df['Tỉnh/Thành phố']=df['Tỉnh/Thành phố'].map(Ma_Ten)

In [9]:
df

,SBD,Toán,Văn,Ngoại ngữ,Lí,Hóa,Sinh,Sử,Địa,GDCD,Tỉnh/Thành phố
0,1000001,3.6,5.00,4.0,NaN,NaN,NaN,2.75,6.00,8.75,HÀ NỘI
1,1000002,8.4,6.75,7.6,NaN,NaN,NaN,8.50,7.50,8.25,HÀ NỘI
2,1000003,5.8,7.50,5.0,NaN,NaN,NaN,7.25,5.50,8.75,HÀ NỘI
3,1000004,7.4,7.50,8.6,NaN,NaN,NaN,7.50,6.50,7.50,HÀ NỘI
4,1000005,7.2,8.50,9.0,NaN,NaN,NaN,8.00,8.50,8.25,HÀ NỘI
...,...,...,...,...,...,...,...,...,...,...,...
995436,64006584,8.4,6.75,4.6,NaN,NaN,NaN,6.50,6.75,9.00,HẬU GIANG
995437,64006585,5.6,6.50,2.8,NaN,NaN,NaN,6.25,6.75,8.50,HẬU GIANG
995438,64006586,5.8,6.00,6.6,NaN,NaN,NaN,7.25,8.00,8.00,HẬU GIANG
995439,64006587,7.6,6.75,7.0,NaN,NaN,NaN,8.75,7.25,9.75,HẬU GIANG
995440,64006588,6.6,4.50,3.2,NaN,NaN,NaN,3.00,6.00,7.50,HẬU GIANG

**Thêm cột 'TB-KHTN'**

In [10]:
df['TB-KHTN']=round((df['Lí']+df['Hóa']+df['Sinh'])/3,2)

**Thêm cột 'TB-KHXH'**

In [11]:
df['TB-KHXH']=round((df['Sử']+df['Địa']+df['GDCD'])/3,2)

In [12]:
df

,SBD,Toán,Văn,Ngoại ngữ,Lí,Hóa,Sinh,Sử,Địa,GDCD,Tỉnh/Thành phố,TB-KHTN,TB-KHXH
0,1000001,3.6,5.00,4.0,NaN,NaN,NaN,2.75,6.00,8.75,HÀ NỘI,NaN,5.83
1,1000002,8.4,6.75,7.6,NaN,NaN,NaN,8.50,7.50,8.25,HÀ NỘI,NaN,8.08
2,1000003,5.8,7.50,5.0,NaN,NaN,NaN,7.25,5.50,8.75,HÀ NỘI,NaN,7.17
3,1000004,7.4,7.50,8.6,NaN,NaN,NaN,7.50,6.50,7.50,HÀ NỘI,NaN,7.17
4,1000005,7.2,8.50,9.0,NaN,NaN,NaN,8.00,8.50,8.25,HÀ NỘI,NaN,8.25
...,...,...,...,...,...,...,...,...,...,...,...,...,...
995436,64006584,8.4,6.75,4.6,NaN,NaN,NaN,6.50,6.75,9.00,HẬU GIANG,NaN,7.42
995437,64006585,5.6,6.50,2.8,NaN,NaN,NaN,6.25,6.75,8.50,HẬU GIANG,NaN,7.17
995438,64006586,5.8,6.00,6.6,NaN,NaN,NaN,7.25,8.00,8.00,HẬU GIANG,NaN,7.75
995439,64006587,7.6,6.75,7.0,NaN,NaN,NaN,8.75,7.25,9.75,HẬU GIANG,NaN,8.58
995440,64006588,6.6,4.50,3.2,NaN,NaN,NaN,3.00,6.00,7.50,HẬU GIANG,NaN,5.50

In [13]:
df

,SBD,Toán,Văn,Ngoại ngữ,Lí,Hóa,Sinh,Sử,Địa,GDCD,Tỉnh/Thành phố,TB-KHTN,TB-KHXH
0,1000001,3.6,5.00,4.0,NaN,NaN,NaN,2.75,6.00,8.75,HÀ NỘI,NaN,5.83
1,1000002,8.4,6.75,7.6,NaN,NaN,NaN,8.50,7.50,8.25,HÀ NỘI,NaN,8.08
2,1000003,5.8,7.50,5.0,NaN,NaN,NaN,7.25,5.50,8.75,HÀ NỘI,NaN,7.17
3,1000004,7.4,7.50,8.6,NaN,NaN,NaN,7.50,6.50,7.50,HÀ NỘI,NaN,7.17
4,1000005,7.2,8.50,9.0,NaN,NaN,NaN,8.00,8.50,8.25,HÀ NỘI,NaN,8.25
...,...,...,...,...,...,...,...,...,...,...,...,...,...
995436,64006584,8.4,6.75,4.6,NaN,NaN,NaN,6.50,6.75,9.00,HẬU GIANG,NaN,7.42
995437,64006585,5.6,6.50,2.8,NaN,NaN,NaN,6.25,6.75,8.50,HẬU GIANG,NaN,7.17
995438,64006586,5.8,6.00,6.6,NaN,NaN,NaN,7.25,8.00,8.00,HẬU GIANG,NaN,7.75
995439,64006587,7.6,6.75,7.0,NaN,NaN,NaN,8.75,7.25,9.75,HẬU GIANG,NaN,8.58
995440,64006588,6.6,4.50,3.2,NaN,NaN,NaN,3.00,6.00,7.50,HẬU GIANG,NaN,5.50

**Lưu vào file csv**

In [15]:
from pathlib import Path  
filepath = Path('diemthi2022_final.csv')  
filepath.parent.mkdir(parents=True, exist_ok=True)  
df.to_csv(filepath, encoding='utf-8-sig')